<section id="about">
  <h1>Sobre mi</h1>
  <aside>
    <span><img src="perfil.jpg" /></span>
    <span id="blockCode">
      <b><i>System.<i id="keyword">out</i>.println(me.getDesc());</i></b>
      <p>
        <q>Soy programador full stack apasionado de la programación en
        búsqueda de mejorar constantemente mis conocimientos.<br />
        Actualmente me desempeño como Docente Auxiliar en la Universidad
        Nacional de Quilmes.</q>
      </p>
      <i>... Program finished with exit code 0</i>
    </span>
  </aside>
  <aside id="hobbies">
    <div>
      <h1>Hobbies</h1>
      <span>
        Programación<br />
        Juegos de Mesa<br />
        Videojuegos<br />
        Docencia
      </span>
    </div>
    <div>
      <h1>Aptitudes</h1>
      <span>
        Creativo<br />
        Capacidad de adaptarme<br />
        Trabajo en equipo
      </span>
    </div>
  </aside>
</section>
